<div class="overflow-y-hidden">
  <AnimatedContainer>
    <AnimatedContainer class="mr-10">
      {{#animated-if (not @expanded) use=this.headerTransition}}
        <p class="inline-block cursor-pointer" onClick={{@headerClick}}>
          {{@productGroup.label}}
          {{#animated-if @showIndex use=this.transition}}<span class="text-grey-dark">[Index {{@productGroup.sortIndex}}]</span>{{/animated-if}}
        </p>
      {{else}}
        <h1 class="inline-block cursor-pointer" onClick={{@headerClick}}>{{@productGroup.label}}</h1>
      {{/animated-if}}
    </AnimatedContainer>

    {{#animated-if @expanded}}
      <div class="float-right -mt-6">
        <button {{action this.toggleEditing}}>
          {{#animated-if this.editing use=this.transition}}
            <span class="text-grey-dark cursor-pointer">
              Show
            </span>
          {{else}}
            <span class="text-grey cursor-pointer">
              Edit
            </span>
          {{/animated-if}}
        </button>
      </div>
      <div class="overflow-y-hidden">
        <AnimatedContainer>
          {{#animated-if @showIndex use=this.transition}}
            <p class="py-3">
              [ Index: {{@productGroup.sortIndex}} ]
            </p>
          {{/animated-if}}
        </AnimatedContainer>
      </div>
      <div class="overflow-y-hidden">
        <AnimatedContainer>
          {{#animated-if this.editing use=this.transition}}
            <p class="pt-8 pr-3 pb-2">
              <h4 class="mb-4">Update current</h4>
              <label class="input-label">Group name</label>
              {{input value=@productGroup.label class="input-value" placeholder="Gevogelte"}}
              <label class="input-label">Group index</label>
              <input class="input-value" value={{@productGroup.sortIndex}} {{on "change" (action "updateSortIndex")}} placeholder="42" type="number">
            </p>
          {{/animated-if}}

          {{#animated-if @productGroup.hasDirtyAttributes use=this.transition}}
            <div class="my-4">
              <button class="btn btn-primary" {{action this.update}}>Update</button>
              <button class="btn btn-no" {{action this.undo}}>Undo</button>
            </div>
          {{/animated-if}}
        </AnimatedContainer>
      </div>
    {{/animated-if}}

    {{#animated-if (and this.editing (eq @productGroup.sortedChildren.length 0))}}
      <button class="btn btn-alarm" {{action this.remove}}>Remove</button>
    {{/animated-if}}

    <AnimatedContainer>
      {{#animated-if @expanded}}
        <div class="my-4"> {{!-- spacer --}}</div>
      {{/animated-if}}
    </AnimatedContainer>

    <div class="overflow-y-hidden">
      <AnimatedContainer>
        <CardArray @color={{@color}} as |array|>
          {{#animated-each (if @expanded @productGroup.sortedChildren this.emptyArray) use=this.transition as |child|}}
            <LocalVariable @default={{false}} as |openChild lv|>
              <array.card @raised={{openChild}}>
                <ProductGroupCard @expanded={{openChild}} @productGroup={{child}} @headerClick={{lv.toggle}} @showIndex={{this.editing}} @color={{array.nestedColor}}/>
              </array.card>
            </LocalVariable>
          {{/animated-each}}
        </CardArray>
      </AnimatedContainer>
    </div>

    {{#animated-if @expanded}}
      <div class="my-4"> {{!-- spacer --}}</div>
    {{/animated-if}}

    <AnimatedContainer>
      {{#animated-if (and this.editing @expanded) use=this.transition}}
        {{#animated-if (not this.addingChild)}}
          <button {{action (mut this.addingChild) true}} class="btn btn-secondary">Add child</button>
        {{else}}
          <p class="pt-8 pr-3 pb-2">
            <h4 class="mb-4">Add new child</h4>
            <label class="input-label">Group name</label>
            {{input value=this.newProductGroupLabel class="input-value" placeholder="Gevogelte"}}
            <label class="input-label">Group index</label>
            {{input value=this.newProductGroupSortIndex class="input-value" placeholder="42" type="number"}}
          </p>
          <button {{action this.createChild this.newProductGroupLabel this.newProductGroupSortIndex}} class="btn btn-primary">Create</button>
          <button {{action (mut this.addingChild false)}} class="btn btn-no">Cancel</button>
        {{/animated-if}}
      {{/animated-if}}
    </AnimatedContainer>

    <AnimatedContainer>
      {{#animated-if @expanded use=this.transition}}
        {{#animated-if (not this.showProducts) use=this.transition}}
          <button {{action (mut this.showProducts) true}} class="btn btn-secondary">
            Show products
          </button>
          <button class="btn btn-secondary">
            Manage products
          </button>
        {{else}}
          <h4 class="mb-4">Products attached to {{@productGroup.label}}</h4>

          <button {{action (mut this.showProducts) false}} class="btn btn-secondary">
            Hide products
          </button>

          <button class="btn btn-secondary">
            Manage products
          </button>
        {{/animated-if}}
      {{/animated-if}}
    </AnimatedContainer>

  </AnimatedContainer>
</div>
