<div class="overflow-y-hidden">
  {{#animated-container}}
    {{#animated-if (not @expanded)}}
      <p onClick={{@headerClick}}>{{@productGroup.label}}</p>
    {{else}}
      <h1 onClick={{@headerClick}}>{{@productGroup.label}}</h1>

      <CardArray as |array|>
        {{#animated-each @productGroup.sortedChildren as |child|}}
          <LocalVariable @default={{false}} as |openChild lv|>
            <array.card @raised={{openChild}}>
              <ProductGroupCard @expanded={{openChild}} @productGroup={{child}} @headerClick={{lv.toggle}} />
            </array.card>
          </LocalVariable>
        {{/animated-each}}
      </CardArray>
      {{yield}}
    {{/animated-if}}
  {{/animated-container}}
</div>
