<form {{on "submit" (fn this.submit)}}>
  <label class="input-label">
    Label
    <Input class="input-value" @value={{@product.label}} placeholder="Gezouten spek" />
  </label>
  <label class="input-label">
    Subtext
    <Input class="input-value" @value={{@product.altLabel}} placeholder="Salty bacon" />
  </label>
  <label class="input-label">
    PLU
    <Input class="input-value" @value={{@product.plu}} @type="number" placeholder={{7}} />
  </label>
  <label class="input-label">
    Sort index
    <Input class="input-value" @value={{@product.sortIndex}} @type="number" placeholder={{42}} />
  </label>
  <div class="input-label">
    Icons
    <ul>
      {{#each this.labelArray as |icon|}}
        <li>
          <label>
            <Input @type="checkbox" @checked={{icon.selected}} {{on "click" (fn this.setLabel icon (not icon.selected))}} />
            <img class="product-icon" src={{icon.image}} alt={{concat "Icon for " icon.label}} />
            {{icon.label}}
          </label>
        </li>
      {{/each}}
    </ul>
  </div>
  <label class="input-label">
    Thumbnail
    <div class="mt-4">
      <div>
        <FileUpload
          @name="photos"
          @accept="image/*"
          @multiple={{false}}
          @onfileadd={{action this.uploadThumbnail}}>
          <span class="btn btn-secondary inline-block mb-2">Set tumbnail</span>
        </FileUpload>
      </div>
      {{#animated-container}}
        <div>
          {{#if @product.thumbnail.downloadUrl}}
            <img class="w-64" src={{@product.thumbnail.downloadUrl}} alt="product thumbnail" />
          {{/if}}
        </div>
      {{/animated-container}}
    </div>
  </label>

  {{yield this.submit}}
</form>
