<AnimatedContainer ...attributes>
  {{#animated-if @large use=this.headerTransition}}
    <h1 class="inline-block cursor-pointer" role="button" {{action @onClick}}>{{@label}}</h1>
  {{else}}
    <span class="inline-block cursor-pointer" role="button" {{action @onClick}}>
      {{@label}}
    </span>
    <span>{{yield}}</span>
  {{/animated-if}}
</AnimatedContainer>
