<div class="card-view readable-width my-8 pt-4 pb-6 px-4">
  <h1>Product group {{this.model.label}}</h1>

  <div class="card-view bg-grey-lighter my-8 pt-4 pb-6 px-4">
    <h2>Parents</h2>
    <p class="mt-2">
      <ProductGroups::ParentBreadcrumb @productGroup={{this.model.parentGroup}} as |productGroup|>
        <div class="overflow-x-hidden inline-block">
          <AnimatedContainer @onInitialRender={{true}}>
            {{#animated-if true use=this.crossFade initialInsertion=true}}
              {{link-to productGroup.label "product-groups.show" productGroup class="overflow-x-show no-underline text-grey-darkest"}}
            {{/animated-if}}
          </AnimatedContainer>
        </div>
        <div class="overflow-x-hidden inline-block text-grey-dark">
          &gt;
        </div>
      </ProductGroups::ParentBreadcrumb>
      <div class="overflow-x-hidden inline-block">
        <AnimatedContainer @onInitialRender={{true}}>
          {{#animated-value this.model.label use=this.crossFade initialInsertion=true as |label|}}
            <span class="inline-block overflow-x-show">
              {{label}}
            </span>
          {{/animated-value}}
        </AnimatedContainer>
      </div>
    </p>
  </div>

  <div class="card-view bg-grey-lighter my-8 pt-4 pb-6 px-4">
    <h2>Products</h2>

    <p class="mt-2">
      These are the products that match this product group.
    </p>

    <p class="overflow-y-hidden">
      <AnimatedContainer @onInitialRender={{true}}>
        <CardArray @color="dark" as |array|>
          {{#animated-each this.model.products initialInsertion=true use=this.crossFade as |product|}}
            <array.card>
              {{product.label}}
            </array.card>
          {{/animated-each}}
        </CardArray>
      </AnimatedContainer>
    </p>

    <ProductGroups::ProductManagement @productGroup={{this.model}} />
  </div>

  <div class="card-view bg-grey-lighter my-8 pt-4 pb-6 px-4">
    <h2>Promoted products</h2>
    <p class="mt-2">
      This section will contain the promoted products
    </p>
  </div>

  {{outlet}}
</div>
