<span class="input-value">
  <input {{on "change" (fn this.updateValue)}} value={{@value.value}} type="number" step={{if (eq @value.unit "KGM") "0.01" "1"}} />
  <Common::UnitSelection @selected={{@value.unit}} @update={{this.updateSelectedUnit}} />
</span>

{{yield}}
