<@card>
  <AnimatedHeader @label={{@product.label}} @onClick={{@headerClick}} @large={{@expanded}} />

  <AnimatedContainer>
    {{#animated-if @expanded use=this.transition}}
      <Products::InputForm @product={{@product}} @submit={{action this.saveProduct}}>
        {{#animated-if @product.hasDirtyAttributes use=this.transition}}
          <button type="submit" class="btn btn-primary">Save</button>
        {{/animated-if}}
      </Products::InputForm>
    {{/animated-if}}
  </AnimatedContainer>
</@card>
