<div class="card-view readable-width my-8 pt-4 pb-6 px-4 bg-grey-lighter">
  <h1 class="mt-2 mb-2">Hello product groups</h1>
  <p class="mt-2 mb-2">
    Nam libero justo, laoreet sit amet cursus sit amet, dictum sit amet justo? Dolor sit amet, consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula?
  </p>
  <p class="mt-2 mb-2">
    Blandit libero volutpat sed cras ornare arcu dui vivamus arcu felis, bibendum ut tristique et, egestas quis ipsum suspendisse ultrices gravida dictum fusce. Arcu, bibendum at varius vel, pharetra vel.
  </p>
  <p class="mt-2 mb-2">
    Amet massa vitae tortor condimentum lacinia quis vel eros donec ac odio tempor orci dapibus ultrices in iaculis nunc sed? Cum sociis natoque penatibus et magnis dis parturient montes, nascetur!
  </p>
  <p class="mt-2 mb-2">You can configure the product groups here.</p>
  
</div>

<div class="card-view readable-width my-8 pt-4 pb-6 px-4 bg-grey-lighter">
  <p>These are the product groups.  Select them for more information.</p>

  <CardArray as |array|>
    {{#each sortedProductGroups as |productGroup|}}
      <LocalVariable as |raised lv|>
        <array.card @raised={{raised}}>
          <ProductGroupCard @headerClick={{lv.toggle}} @productGroup={{productGroup}} @expanded={{raised}} />
        </array.card>
      </LocalVariable>
    {{/each}}
  </CardArray>
</div>

<div class="card-view readable-width my-8 pt-4 pb-6 px-4 bg-grey-lighter">
  <h1 class="mt-2 mb-2">Manage product groups</h1>
  <p class="my-2">Product groups is the taxonomy in which product groups can be positioned.  This is very folder-structure-like.  We represent them here as cards which you can open to get further details.</p>

  <p class="mt-2 mb-2">
    Nam libero justo, laoreet sit amet cursus sit amet, dictum sit amet justo? Dolor sit amet, consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula?
  </p>
  <p class="mt-2 mb-2">
    Blandit libero volutpat sed cras ornare arcu dui vivamus arcu felis, bibendum ut tristique et, egestas quis ipsum suspendisse ultrices gravida dictum fusce. Arcu, bibendum at varius vel, pharetra vel.
  </p>
  <p class="mt-2 mb-2">
    Amet massa vitae tortor condimentum lacinia quis vel eros donec ac odio tempor orci dapibus ultrices in iaculis nunc sed? Cum sociis natoque penatibus et magnis dis parturient montes, nascetur!
  </p>
  <p class="mt-2 mb-2">You can configure the product groups here.</p>
</div>


{{outlet}}
